
:root {
    --background-color: #eee;
    --color: #333;
    --text-align: center;
    --width : 40em;
    --margin : 1em;
    --border : 1px solid rgb(0 0 0 / 0.2); /* 1 */
    --padding : 1em
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0px;
}
main {
    max-width: 840px;
}
aside {
    background-color: var(--background-color);
    color: var(--color);
    text-align: var(--text-align);
    width : var(--width);
    margin : var(--margin);
    border : var(--border);
    padding : var(--padding);
}
aside img {
    width: 200px;
    height : auto;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;

}